@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply bg-electric-violet-900;
    overflow-x: hidden;
    /* width */
    ::-webkit-scrollbar {
      width: 1rem;
    }

    /* Track */
    ::-webkit-scrollbar-track {
      @apply bg-transparent;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
      @apply rounded-full bg-white bg-opacity-20 hover:bg-opacity-40;
      border: 0.25rem solid rgba(0, 0, 0, 0);
      background-clip: padding-box;
    }
  }
}

#app {
  @apply h-screen w-screen overflow-y-auto overflow-x-hidden bg-electric-violet-950 text-slate-100;
}
